In [1]:
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn import metrics

In [2]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelBinarizer
from sklearn.preprocessing import LabelEncoder

In [3]:
import pandas as pd
import pyodbc
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

In [4]:
server = 
database = 
username = 
password = 
driver= '{ODBC Driver 13 for SQL Server}'
cnxn = pyodbc.connect('DRIVER='+driver+';PORT=1433;SERVER='+\
                      server+';PORT=1443;DATABASE='+database+';UID='+username+';PWD='+ password)
#cursor = cnxn.cursor()

In [5]:
data = pd.read_sql_query("""
SELECT [user_id]
, a.product_id
, add_to_cart_order,order_dow
, order_hour_of_day
, convert(float,days_since_prior_order) as days_since_prior_order
, department, aisle,reordered
FROM [dbo].[order_products__prior] a (nolock)
left join dbo.orders b (nolock) on a.[order_id]=b.[order_id]
left join dbo.[products] c (nolock) on a.product_id = c.product_id
left join dbo.[departments] d (nolock) on c.department_id=d.department_id
left join dbo.[aisles] e (nolock) on c.aisle_id = e.aisle_id
""",cnxn, coerce_float = True)
data['target'] = data.reordered.astype(int)

In [6]:
data['add_to_cart_order'] = data.add_to_cart_order.astype(int)
data['order_dow'] = data.order_dow.astype(int)
data['order_hour_of_day'] = data.order_hour_of_day.astype(int)
data['days_since_prior_order'] = data.days_since_prior_order.astype(int)
data['product_id'] = data.product_id.astype(int)

In [7]:
del data['reordered']

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 9 columns):
user_id                   object
product_id                int32
add_to_cart_order         int32
order_dow                 int32
order_hour_of_day         int32
days_since_prior_order    int32
department                object
aisle                     object
target                    int32
dtypes: int32(6), object(3)
memory usage: 1.4+ GB

In [9]:
data.shape

(32434489, 9)

In [10]:
data.head()

,user_id,product_id,add_to_cart_order,order_dow,order_hour_of_day,days_since_prior_order,department,aisle,target
0,193700,32747,1,6,16,6,dairy eggs,milk,1
1,193700,19508,2,6,16,6,bakery,tortillas flat bread,0
2,193700,26209,3,6,16,6,produce,fresh fruits,1
3,193700,42736,4,6,16,6,dairy eggs,butter,1
4,193700,34243,5,6,16,6,produce,fresh vegetables,0

In [11]:
encoder = OneHotEncoder()
label_encoder = LabelEncoder()
data_label_encoded = label_encoder.fit_transform(data['product_id'])
data['product_id2'] = data_label_encoded
data_feature_one_hot_encoded = encoder.fit_transform(data[['product_id2']].as_matrix())
#data_feature_one_hot_encoded = encoder.fit_transform(data['product_id2'].values.reshape(-1, 1))
#transformer = LabelBinarizer()
#data_feature_LabelBinarizer = transformer.fit_transform(data[['product_id2']].as_matrix())

In [12]:
#pd.DataFrame(data_feature_one_hot_encoded[:49677].toarray())[0].sum()

In [37]:
#data_feature_one_hot_encoded.shape

(32434489, 49677)

In [15]:
#no work memory issue
# transformer = LabelBinarizer()
# pid = pd.DataFrame(transformer.fit_transform(data['product_id2']), columns=transformer.classes_)

In [16]:
transformer1 = LabelBinarizer()
did = pd.DataFrame(transformer1.fit_transform(data['department']), columns=transformer1.classes_)

In [17]:
transformer2 = LabelBinarizer()
aid = pd.DataFrame(transformer2.fit_transform(data['aisle']), columns=transformer2.classes_)

In [18]:
#concat columns
result = pd.concat([data, did,aid], axis=1)

In [19]:
result.head()

,user_id,product_id,add_to_cart_order,order_dow,order_hour_of_day,days_since_prior_order,department,aisle,target,product_id2,...,spreads,tea,tofu meat alternatives,tortillas flat bread,trail mix snack mix,trash bags liners,vitamins supplements,water seltzer sparkling water,white wines,yogurt
0,193700,32747,1,6,16,6,dairy eggs,milk,1,32741,...,0,0,0,0,0,0,0,0,0,0
1,193700,19508,2,6,16,6,bakery,tortillas flat bread,0,19504,...,0,0,0,1,0,0,0,0,0,0
2,193700,26209,3,6,16,6,produce,fresh fruits,1,26204,...,0,0,0,0,0,0,0,0,0,0
3,193700,42736,4,6,16,6,dairy eggs,butter,1,42728,...,0,0,0,0,0,0,0,0,0,0
4,193700,34243,5,6,16,6,produce,fresh vegetables,0,34237,...,0,0,0,0,0,0,0,0,0,0

In [21]:
del result['user_id']
del result['product_id']
del result['department']
del result['aisle']
del result['product_id2']

In [40]:
#[x for x in result.columns]

In [52]:
data_feature_one_hot_encoded[:7].toarray()[0].shape

(49677,)

In [ ]:
# scaler = StandardScaler(copy=True)
# # we have created a standardization based on the training data
# X_clean = scaler.fit(X_mailing_train).transform(X_mailing_train)

In [35]:
k= np.array([[ 0.,  0.,  0., 0.,  0.,  0.],[6.,6.,6.,6.,6.,6.]])
j= np.array([[ 1.,  3.,  4., 5.,  6.,  7.],[2.,2.,2.,2.,2.,2.]])
pd.DataFrame(np.hstack((k,j))).as_matrix()

array([[ 0.,  0.,  0.,  0.,  0.,  0.,  1.,  3.,  4.,  5.,  6.,  7.],
       [ 6.,  6.,  6.,  6.,  6.,  6.,  2.,  2.,  2.,  2.,  2.,  2.]])

In [36]:
np.hstack((k,j))

array([[ 0.,  0.,  0.,  0.,  0.,  0.,  1.,  3.,  4.,  5.,  6.,  7.],
       [ 6.,  6.,  6.,  6.,  6.,  6.,  2.,  2.,  2.,  2.,  2.,  2.]])

In [43]:
data2 = data.as_matrix()

In [44]:
did2 = did.as_matrix() 
aid2 = aid.as_matrix()

In [47]:
print(data2.shape ,
      did2.shape,aid2.shape,data_feature_one_hot_encoded.shape)

(32434489, 10) (32434489, 21) (32434489, 134) (32434489, 49677)

In [66]:
row = 486897
fin = np.hstack( (data2[:row], did2[:row]))
fin = np.hstack( (fin, aid2[:row]))
fin = np.hstack( (fin, data_feature_one_hot_encoded[:row] ))

ValueError: all the input arrays must have same number of dimensions

In [60]:
data_feature_one_hot_encoded[:row].shape

(7784277, 49677)

In [61]:
fin.shape

(7784277, 165)

In [63]:
data.shape[0]*.2

6486897.800000001

In [ ]:
dd = {'w':['weee','ww','ww22','gfg','hhha','ww22']}

In [ ]:
dd = pd.DataFrame(dd)

In [14]:
5

5

In [ ]:
enc = OneHotEncoder()

In [ ]:
enc.fit_transform(dd.w)